<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div class="container">
    <p>
    <h1>Reset Password!</h1>
    </p>
    <br/>
    <div class="input-group col-sm-10">
        <form class="form-horizontal" id="resetform" action="/resetPassword" method="post">
            <input type="email" class="form-control" placeholder="Enter the email address" id="email" name="email" required="true"></input>
            <span class="input-group-btn">
        <input type="submit" class="btn btn-block" value="Reset Password"></input>
            </span>
        </form>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>